.dark-mode {
    background: #383838;
    color: white;
    nav a {
        color: white !important;
    }
    .profile {
        background: #383838;

        .card-body {
            background: #383838;
        }
    }
}