.dark-mode {
    background: #383838;
    color: white;
    transition: 0.5s;
    nav a {
        color: white !important;
    }
    .profile {
        background: #383838;

        .card-body {
            background: #383838;
        }

        #block-btn {
            color: white;
        }
    }
}