.home-wrapper {
    background: url('https://source.unsplash.com/featured/1600x900/?travel');
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  height: 100vh;
  overflow: hidden;
}

#container {
    margin-left: 150px;
    background: white;
    background:rgba(0,0,0,0.5);
    width: 500px;
    color: white;
    position: relative;
    top: 100px;

    button {
        margin: 50px;
        color:white;
    }

    @media screen and (max-width: 600px){
        margin: 0;
        width: 100%;

        button {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
        }
        
    }

    

    p {
        padding: 40px 0px;
    }
}